<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{../styles/boss.css}"/>
    <link rel="stylesheet" th:href="@{../styles/font-awesome.css}"/>
    <script type="text/javascript" th:src="@{../scripts/jquery-1.11.1.min.js}"></script>
    <script type="text/javascript" th:src="@{../scripts/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{../scripts/jquery-3.1.1.js}"></script>
    <script type="text/javascript" th:src="@{../scripts/jquery.js}"></script>
    <script type="text/javascript" th:src="@{../scripts/jqueryui.js}"></script>
    <script type="text/javascript" th:src="@{../scripts/json2.js}"></script>
    <script type="text/javascript" th:src="@{../scripts/jquery-form.js}"></script>
    <script th:src="@{../scripts/customer.js}"></script>

    <title>房间查看</title>
</head>
<body>
<div class="boss-allEelments">
    <!--头部bar开始-->
    <div class="boss-top-bar">
        <p class="shop-head">Hostel World</p>

        <div class="message-head">
            <button></button>
            <button></button>
        </div>
        <div class="button-bar">
            <button class="button-bar-button"></button>
            <button class="button-bar-button button-bar-button-selected" onclick="toIndex()">房间查看</button>
            <button class="button-bar-button" onclick="toReservation()">我的预定</button>
            <button class="button-bar-button" onclick="toHistory()">历史统计</button>
            <button class="button-bar-button" onclick="toPersonal()">个人信息</button>

        </div>
    </div>

    <div class="goods-detail ">

        <div class="sale-basic-div table-with-pic-div">
            <p>选择分店</p>
            <select id="branchSelect">

            </select>
            <p>开始日期</p>
            <input type="date" id="startDate"/>
            <p>结束日期</p>
            <input type="date" id="endDate"/>
            <button class="sale-basic-div-btn pink-btn" onclick="initRooms()">开始查找</button>

            <div class="goods-list-div" id="roomList">
                <!--<div class="goods-list-per-good">-->
                <!--<img src="img/111.jpg"/>-->
                <!--<h3>豪华大床房</h3>-->
                <!--<h5>￥222.00</h5>-->
                <!--<h4>505</h4>-->
                <!--<button class="pink-btn" onclick="showDate(this)">预定房间</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>


<script type="application/javascript">
    $(document).ready(function () {
        initHostels();
    });

    function initHostels() {
        var branchSelect = document.getElementById("branchSelect");
        $.ajax({
            url: "/inn/list",
            type: "GET",
            dataType: 'JSON',
            async: false,
            success: function (data) {
                $.each(data, function (idx, item) {


                    var perOption = document.createElement("option");
                    perOption.value = item.id;
                    perOption.innerHTML = item.name;
                    branchSelect.appendChild(perOption);
                });
            }
        });
    }


    function initRooms() {
        var roomList = document.getElementById("roomList");
        roomList.innerHTML="";
        var branchSelect = document.getElementById("branchSelect");
        var startDate = document.getElementById("startDate");
        var endDate = document.getElementById("endDate");
        $.ajax({
            url: "/inn/roomList",
            type: "GET",
            data: {
                inn: $('#branchSelect option:selected').val(),
                start: startDate.value,
                end: endDate.value,

            },
            dataType: 'JSON',
            async: false,
            success: function (data) {
                $.each(data, function (idx, item) {
                    var perRoom = document.createElement("div");
                    perRoom.setAttribute("class", "goods-list-per-good");
                    var image = document.createElement("img");
                    image.src = item.picUrl;
                    var roomType = document.createElement("h3");
                    var roomPrice = document.createElement("h5");
                    var roomName = document.createElement("h4");
                    var bookThis = document.createElement("button");
                    roomType.innerHTML = item.roomType;
                    roomPrice.innerHTML = item.price;
                    roomName.innerHTML = item.roomName;
                    bookThis.setAttribute("class", "pink-btn");
                    bookThis.innerHTML = "预订房间";
                    bookThis.rid = item.id;
                    bookThis.onclick = function () {
                        bookRoom(this);
                    };
                    perRoom.appendChild(image);
                    perRoom.appendChild(roomType);
                    perRoom.appendChild(roomPrice);
                    perRoom.appendChild(roomName);
                    perRoom.appendChild(bookThis);
                    roomList.appendChild(perRoom);

                });
            }
        });
    }


    function bookRoom(btn) {
        var startDate = document.getElementById("startDate");
        var endDate = document.getElementById("endDate");

        $.ajax({
            url: "/member/bookOne",
            type: "GET",
            data: {
                hotelId: $('#branchSelect option:selected').val(),
                inDate: startDate.value,
                outDate: endDate.value,
                roomId: btn.rid,
            },
            dataType: 'JSON',
            async: false,
            success: function (data) {
                alert("预订成功！");
            }
        });
    }
</script>
</body>

</html>
