<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="multipart/form-data"/>

    <link rel="stylesheet" th:href="@{../styles/boss.css}"/>
    <link rel="stylesheet" th:href="@{../styles/font-awesome.css}"/>
    <script type="text/javascript" th:src="@{../scripts/jquery-1.11.1.min.js}"></script>
    <script type="text/javascript" th:src="@{../scripts/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{../scripts/jquery-3.1.1.js}"></script>
    <script type="text/javascript" th:src="@{../scripts/jquery.js}"></script>
    <script type="text/javascript" th:src="@{../scripts/jqueryui.js}"></script>
    <script type="text/javascript" th:src="@{../scripts/json2.js}"></script>
    <script type="text/javascript" th:src="@{../scripts/jquery-form.js}"></script>
    <title>申请开店</title>
</head>
<body>

<div class="boss-allEelments">
    <!--头部bar开始-->
        <div class="boss-top-bar">
            <p class="login-shop-head">Hostel World 注册开店</p>
        </div>
    <!--头部bar结束-->
    <!--商品概况开始-->
    <!--enctype="multipart/form-data"-->
    <div class="goods-basic">
        <!--<div class="new-goods-left">-->
        <!--<iframe name="myiframe" style="display:none;"></iframe>-->
        <form id="newSalerForm" class="new-goods-center" >
            <div class="new-product-per-div no-padding-element">
                <p class="new-product-per-p">酒店名字</p>
                <input class="new-product-per-input" id="hostelName" type="text" placeholder="酒店名" name="storeName"/>
            </div>
            <div class="new-product-per-div no-padding-element">
                <p class="new-product-per-p">联系电话</p>
                <input class="new-product-per-input" id="hostelTel" type="text" placeholder="联系电话" name="userName"/>
            </div>
            <div class="new-product-per-div no-padding-element">
                <p class="new-product-per-p">银行卡号</p>
                <input class="new-product-per-input" id="hostelCard" type="text" placeholder="银行卡号" name="userName"/>
            </div>
            <div class="new-product-per-div no-padding-element">
                <p class="new-product-per-p">酒店描述</p>
                <input class="new-product-per-input" id="hostelDesc" type="text" placeholder="酒店描述" name="userName"/>
            </div>
            <div class="new-product-per-div no-padding-element">
                <p class="new-product-per-p">酒店地址</p>
                <input class="new-product-per-input" id="hostelAdd" type="text" placeholder="酒店地址" name="userName"/>
            </div>
            <div class="new-product-per-div no-padding-element">
                <p class="new-product-per-p">电子邮箱</p>
                <input class="new-product-per-input" id="hostelEmail" type="text" placeholder="电子邮箱" name="userName"/>
            </div>
            <div class="new-product-per-div-high no-padding-element" id="inputDiv1">
                <p class="new-product-per-p-high">房间型号:浴缸大床房</p>
                <div class="per-input-div" id="inputc1">
                    <textarea type="text" id="wideBed"></textarea>
                    <!--<button id="c1" onclick="deleteThisInput(this)">X</button>-->
                </div>
                <span id="addInput1">

                </span>


            </div>

            <div class="new-product-per-div-high no-padding-element" id="inputDiv2">
                <p class="new-product-per-p-high">房间型号:标准双床房</p>
                <div class="per-input-div" id="inputcc1">
                    <textarea type="text" id="doubleBed"></textarea>
                </div>
                <span id="addInput2">

                </span>


            </div>


            <div class="new-product-per-div-high no-padding-element" id="inputDiv3">
                <p class="new-product-per-p-high">房间型号:海景休闲房</p>
                <div class="per-input-div" id="inputccc1">
                    <textarea type="text" id="seaBed"></textarea>
                </div>
                <span id="addInput3">

                </span>


            </div>

            <div class="new-product-per-div pink-btn" onclick="submitHostel()">
                <p class="text-to-center" >确定</p>
            </div>
        </form>
        <!--</div>-->


    </div>
</div>


<script type="text/javascript">
    function submitHostel() {
        $.ajax({
            url: "../innOwner/applyConfirm",
            type: "GET",
            dataType: 'JSON',
            data:{
                hostelName:$("#hostelName").val(),
                hostelTel:$("#hostelTel").val(),
                hostelAdd:$("#hostelAdd").val(),
                hostelDesc:$("#hostelDesc").val(),
                hostelCard:$("#hostelCard").val(),
                hostelEmail:$("#hostelEmail").val(),
                wideBed:$("#wideBed").val(),
                doubleBed:$("#doubleBed").val(),
                seaBed:$("#seaBed").val()
            },
            async: false,
            success: function (data) {
                //alert("提交成功！");
                window.location.href="../innOwner/home";
            }
        });
    }


</script>
</body>
</html>